html
  head
    title Configuration saved: Ticketyboo
  body
    h1 Your configuration is saved
    p Here's the data we've just saved
    p Name: 
      = adminUser.name
    p Email: 
      = adminUser.email
