<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Couchtix</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    
    <body>
        <h1><%= eventDetails['name'] %></h1>
        <h2><%= eventDetails['description'] %></h2>
        <% var onSaleDate = Date.parse(eventDetails['onSale']); %>
        <% var offSaleDate = Date.parse(eventDetails['offSale']); %>
        <% if (eventDetails['live'] === true && onSaleDate <= Date.now() && offSaleDate >= Date.now()) { %>
            <h3>Ticket types available</h3>
            <ul>
                <% for (var ticket in ticketList) { %>
                    <li> <%= ticketList[ticket] %> </li>
                 <% } %>
            </ul>
        <% } else { %>
            <p>Tickets not on sale today.</p>
         <% } %>
    	<%= JSON.stringify(ticketDetails); %>
        
    </body>
</html>
    